

.navbar-brand {
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
}



.navbar.navbar-expand-lg.bg-body-tertiary,
.navbar.sticky-top.navbar-light.bg-light {
    background-color: bisque !important;

}


table {
    border-radius: 10px;
    overflow: hidden;
}