

.navbar-brand {
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
}



.navbar.navbar-expand-lg.bg-body-tertiary,
.navbar.sticky-top.navbar-light.bg-light {
    background-color: bisque !important;

}


table {
    border-radius: 10px;
    overflow: hidden;
}

#flash_message {
    border-radius: 5px;
    padding: 20px;

    width: auto;
    height: auto;

    border-style: solid;
    border-color: black;
    background-color: white;

}