
.navbar-brand {
    padding: 5px;
    border-radius: 10px;
}

.navbar.navbar-expand-lg.bg-body-tertiary,
.navbar.sticky-top.navbar-light.bg-light {
    background-color: rgb(0, 0, 0) !important;
}

.nav-link {
    color: white !important;
    margin-right: 30px;
}

table {
    border-radius: 10px;
    overflow: hidden;
}

#flash_message {
    border-radius: 5px;
    padding: 20px;

    width: auto;
    height: auto;

    border-style: solid;
    border-color: black;
    background-color: rgb(213, 87, 33);

}

#logo {
    width: 4dvw;;
    border-radius: 5px;
}