body {
    background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-attachment: fixed;
    background-size: auto;

    height: fit-content;
}

#job_card {
    display: flex;
    flex-direction: column;
    margin: 25px
}

#job_description,
#job_requirements,
#next_step_actual,
#recruiter_next_step,
#employee_next_step,
#job_last_task,

#job_call_task,
#job_email_task,
#job_general_task,
#job_recruiter,
#job_employee,
#job_salary,
#job_compensation {
    border-radius: 10px;
    background-color: rgba(226, 226, 226, 0.713);
}

#role_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 30px;

    border-radius: 10px;
    background-color: rgba(226, 226, 226, 0.713);
    width: 40dvw;
}

#notes_icon {
    padding: 5px;
    margin-left: 20px;
    height: 75px;
    width: 75px;
}

#job_date_applied {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bool_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

#bool_div button {
    margin: 2px;
}

#job_details_1_div,
#job_details_2_div,
#job_details_3_div,
#job_details_4_div,
#job_details_5_div {
    margin: 3px;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
}


#description_div {
    display: flex;
    flex-direction: column;
    width: 50dvw;

}

#job_details_2_div {
    width: 100%;
    overflow-x: hidden;
}

#job_description, #job_requirements {
    margin: 10px;
    padding: 10px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#next_steps_div {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 50dvw;
    margin: 10px;

}

#next_step_actual {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: auto;
    margin-bottom: 10px;
    
}

#next_step_btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#job_last_task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding: 10px;
}

#task_div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

#task_menu {
    display: flex;
    flex-direction: column;
}

#job_call_task,
#job_email_task,
#job_general_task {
    margin: 5px;
    padding: 10px;
}

#task_div button {
    margin-bottom: 5px;
}

#job_details_3_div {
    display: flex;
    justify-content: space-between;
}

#task_table {
    width: 100%;
}

#salary_div {
    display: flex;
    width: 100dvw;
}

#job_salary, 
#job_compensation,
#job_link {
    margin: 10px;
    padding: 10px;
}

#job_compensation {
    width: 60dvw;
}
#roster_div {
    display: flex;
    justify-content: space-between;
    width: 100dvw;
}

ul {
    list-style-type: disc;
}

#job_recruiter,
#job_employee {
    padding: 10px;
}

#job_recruiter,
#job_employee h3{
    margin-bottom: 3px;
}


#job_employee button{
    margin-bottom: 3px;
}





