html {
    background-color: rgb(96, 96, 96);
}

#body_div {
    display: flex;
}

#background_div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(96, 96, 96);
    width: 100%;
}

img {
    mix-blend-mode: darken;
}

#login_page_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 25px;
    width: 100dvw;
    height: 100dvh;

    max-width: 300px;

    background-color: rgb(0, 0, 0);
}

#login_form, #registration_form {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    background-color: hwb(0 96% 4% / 0.603);
    border-radius: 15px;
    padding: 30px;
    margin: 5px;
    z-index: 0;
}

#login_form input, #registration_form input {
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    
}
