html {
    background-color: gray;
}

#login_page_div {
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 10px
}

#login_div, #register_div {
    width: 30%;

}

#login_form, #registration_form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-style: solid;
    padding: 30px;

}

#login_form input, #registration_form input {
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
}





#job_details_div, #bool_div, #next_steps_div, #roster_div {
    border-style: solid;
    margin: 2%;
    padding: 2%;

}