{% extends "base.html"%}

{% block stylesheet %}
<link rel="stylesheet" href="/static/archive_styling.css">
{% endblock %}


{% block title %}
<title>Archived Jobs</title>
{% endblock %}

{% block body %}

<section id="archived_job_list">
    <table class="table table-sm">
        <h2>Archived Jobs:</h2>
        <thead class="table-dark">
            <tr>
                <th>Role Name</th>
                <th>Company</th>
                <th>Salary</th>
                <th>Link to Job</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            {% for job in job_list %}
            {% if job.rejection or job.ghosted%}
            <tr>
                <td><a href="{{ url_for('show_job_detail', job_id = job.id) }}">{{ job.role }}</a></td>
                <td>{{ job.company.name }}</td>
                <td>{{ "$ {:,.0f}".format(job.salary) }}</td>
                <td><a href="{{ job.link }}" target="_blank">Job Link</a></td>
                {% if job.rejection %}
                <td>REJECTED</td>
                {% elif job.ghosted %}
                <td>GHOSTED</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}