 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styling.css">
    {% block title %}
    {% endblock %}
</head>
<body>
    <nav>
        
        {% if request.path.startswith("/create_sne_4recruiter") and "job_id" in request.args %}
        {% elif request.path.startswith("/create_employee_4sne_form") and "job_id" in request.args %}
        {% elif request.path == "/company_page" %}
        {% elif request.path != "/" %}
            <a href="/homepage"><button>Homepage</button></a>
            <a href="/sign_out"><button>Sign Out</button></a>
            <a href="/job_page"><button>Create Job</button></a>
            <a href="/archived_jobs"><button>👻 and Archived Jobs</button></a>
        {% endif %}

        
        {% block navbar %}
        {% endblock %}

        <div id="flash_message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <b>{{ message }}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </nav>

    {% block body %}
    {% endblock %}










    
</body>
</html>