 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styling.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/"><button>Login</button></a>
        <a href="/homepage"><button>Homepage</button></a>
        <a href="/register"><button>Create Account</button></a>
        <a href="/create_company"><button>Create Company</button></a>
        <a href="/create_job"><button>Create Job</button></a>
        {% block navbar %}
        {% endblock %}
    </nav>

    {% block body %}
    {% endblock %}










    
</body>
</html>