{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/company_detail_styling.css">
{% endblock %}

{% block title %}
<title>Company Details</title>
{% endblock %}


{% block body %}

<section id="company_detail_div">
    <div id="company_head_div">
        <div id="company_deets">
            <h1>{{ company.name }}</h1>
            <h5>Industry: {{ company.industry }}</h5>
            <h5>Location: {{ company.location }}</h5>
        </div>
        <div id="company_favorite">
            {% if not company.favorite %}
            <a href="{{ url_for('update_favorite_company', company_id = company.id) }}"><button
                    class="btn btn-primary btn-sm"> ❤️ Mark as Favorite</button></a>
            {% else %}
            <a href="{{ url_for('update_favorite_company', company_id = company.id) }}"><button
                    class="btn btn-primary btn-sm">🤮 Mark as Unfavorite</button></a>
            {% endif %}
        </div>
    </div>

    <div id="all_jobs_div">
        <h2>All Jobs:</h2>
        <table class="table table-sm" id="company_detail_job">
            <thead class="table-dark">
                <tr>
                    <th>Role</th>
                    <th>Salary</th>
                    <th>Link to Job</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for job in company.job %}
                <tr>
                    <td><a href="{{ url_for('show_job_detail', job_id = job.id) }}", target="_blank">{{job.role}}</a></td>
                    {% if job.salary %}
                        <td> {{"$ {:,.0f}".format(job.salary)}} </td>
                    {% elif %}
                        <td>Unknown</td>
                    {% endif %}
                    <td><a href="{{ job.link }}", target="_blank"><button class="btn btn-secondary btn-sm">Job Link</button></a></td>
                    {% if job.rejection %}
                    <td>REJECTED</td>
                    {% elif job.ghosted %}
                    <td>GHOSTED</td>
                    {% elif job.accepted_offer %}
                    <td>Accepted Offer</td>
                    {% elif job.job_offer %}
                    <td>Received Offer Letter</td>
                    {% elif job.interviewing %}
                    <td>Currently Interviewing</td>
                    {% elif job.date_applied %}
                    <td>Application Submitted</td>
                    {% elif not job.date_applied %}
                    <td>Not Applied</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="roster_list_div">
        <div id="recruiter_list_div">
            <h2>All Recruiters:</h2>
            <table class="table table-sm" id="company_detail_recruiter">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for recruiter in company.recruiter %}
                    <tr>
                        <td>{{ recruiter.first_name }} {{ recruiter.last_name }}</td>
                        <td>{{ recruiter.title }}</td>
                        <td><a href="{{ recruiter.linkedin }}", target="_blank"><button class="btn btn-secondary btn-sm">LinkedIn</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="employee_list_div">
            <h2>All Interviewers:</h2>
            <table class="table table-sm" id="company_detail_employee">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in company.employee %}
                    <tr>
                        <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                        <td>{{ employee.title }}</td>
                        <td><a href="{{ employee.linkedin }}", target="_blank"><button class="btn btn-secondary btn-sm">LinkedIn</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>










{% endblock %}