{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/companies_styling.css">
{% endblock %}

{% block title %}
<title>Company List</title>
{% endblock %}


{% block body %}


<section id="company_list">
    <table class="table table-sm">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th>Company Name:</th>
                <th>Location:</th>
                <th>Industry</th>
            </tr>
        </thead>
        <tbody>
            {% for company in company_list | sort(attribute="name") %}
            <tr>
                {% if company.favorite %}
                <td><a href="{{ url_for('update_favorite_company_homepage', company_id = company.id) }}">📈</a></td>
                {% else %}
                <td><a href="{{ url_for('update_favorite_company_homepage', company_id = company.id) }}">📉</a></td>
                {% endif %}
                <td><a href="{{ url_for('show_company_detail', company_id = company.id) }}">{{ company.name }}</a>
                </td>
                <td>{{ company.location }}</td>
                <td>{{ company.industry }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>








{% endblock %}