{% extends "base.html" %}

{% block body %}
<h1>Create Company Here</h1>

<section id="create_company_form">
    <form action="{{ url_for('create_company')}}" method="post">
        {{ company_form.csrf_token() }}
        {{ company_form.name.label }}
        {{ company_form.name }}
        {{ company_form.location.label }}
        {{ company_form.location }}
        {{ company_form.industry.label }}
        {{ company_form.industry }}
        {{ company_form.submit }}
    </form>
</section>


{% endblock %}