{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/create_staff_form_styling.css">
{% endblock %}

{% block title %}
<title>Add Recruiter</title>
{% endblock %}




{% block body %}
<section id="create_staff_form">
    <h1>Add Recruiter to this Next Step:</h1>
    <form id="staff_form" action="{{ url_for('add_recruiter_sne', job_id = job_id) }}" method="post">
        {{ recruiter_form.csrf_token() }}
        <div>
        {{ recruiter_form.first_name.label }}
        {{ recruiter_form.first_name(class="form-control") }}
    </div>
    <div>
        {{ recruiter_form.last_name.label }}
        {{ recruiter_form.last_name(class="form-control") }}
    </div>
    <div>
        {{ recruiter_form.title.label }}
        {{ recruiter_form.title(class="form-control") }}
    </div>
    <div>
        {{ recruiter_form.email.label }}
        {{ recruiter_form.email(class="form-control") }}
    </div>
    <div>
        {{ recruiter_form.linkedin.label }}
        {{ recruiter_form.linkedin(class="form-control") }}
    </div>
    <div>
        {{ recruiter_form.submit(class="btn btn-primary") }}
    </div>

    </form>
</section>

{% endblock %}