{% extends "base.html" %}

{% block body %}
<h1>Homepage</h1>

<section id="task_list">

</section>

<section id="job_list">
    <table>
        <h2>Jobs:</h2>
        <thead>
            <tr>
                <th>Role Name</th>
                <th>Company</th>
                <th>Salary</th>
                <th>Link to Job</th>
                <th>Next Steps</th>
                <th>Next Step Date</th>
            </tr>
        </thead>
        <tbody>
            {% for job in job_list %}
            <tr>
                <td><a href="{{ url_for('show_job_detail', job_id = job.id) }}">{{ job.role }}</a></td>
                <td>{{ job.company.name }}</td>
                <td>{{ "$ {:,.0f}".format(job.salary) }}</td>
                <td><a href="{{ job.link }}" target="_blank">Job Link</a></td>
                {% if job.next_step == [] %}
                    <td>None</td>
                    <td>None</td>
                {% else %}
                    <td>{{ job.next_step[0].description }}</td>
                    <td>{{ job.next_step[0].due_date.strftime('%b %d @ %H:%M%p') }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section id="company_list">
 <table>
    <h2>Companies:</h2>
    <thead>
        <tr>
            <th>Company Name:</th>
            <th>Location:</th>
            <th>Industry</th>
            <th>Favorite</th>
        </tr>
    </thead>
    <tbody>
        {% for company in company_list %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.location }}</td>
                <td>{{ company.industry }}</td>
                <td>{{ company.favorite }}</td>
            </tr>
            {% endfor %}
    </tbody>
 </table>
</section>









{% endblock %}