{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/homepage_styling.css">
{% endblock %}

{% block title %}
<title>Homepage</title>
{% endblock %}

{% block body %}

{% for job in job_list %}
{% if job.accepted_offer %}
<div id="congrats">
    <h2>🎉🍾Congratulations on your new {{ job.role }} role at {{ job.company.name }}!!!🥳🎉</h2>
</div>
{% endif %}
{% endfor %}

<section id="card_block">
    <div id="left_block">


        <section id="pending_app_list">
            <table class="table table-sm">
                <h3>Application Needed</h3>
                <thead class="table-dark">
                    <tr>
                        <th> </th>
                        <th> Role Name</th>
                        <th> Company</th>
                        <th> Salary</th>
                        <th> Link to Job</th>
                        <th> Last Activity</th>
                        <th> Last Activity Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in job_list | sort(attribute="last_logged_task_time", reverse = True) %}
                    
                    {% if not job.date_applied and not job.rejection and not job.ghosted %}
                    <tr>
                        {% if job.favorite %}
                        <td><a href="{{ url_for('update_favorite_homepage', job_id = job.id )}}">📈</a></td>
                        {% else %}
                        <td><a href="{{ url_for('update_favorite_homepage', job_id = job.id )}}">📉</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('show_job_detail', job_id = job.id) }}">{{ job.role }}</a></td>
                        <td>{{ job.company.name }}</td>
                        {% if job.salary %}
                            <td id="salary_data">{{ "$ {:,.0f}".format(job.salary) }}</td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        <td><a href="{{ job.link }}" target="_blank">Job Link</a></td>
                        <td>{{ job.last_logged_task }}</td>
                        <td>{{ job.last_logged_task_time.strftime('%b %d @ %H:%M%p') }}</td>

                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section id="active_job_list">
            <table class="table table-sm">
                <h3>Active Applications</h3>
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th>Role Name</th>
                        <th>Company</th>
                        <th>Salary</th>
                        <th>Link to Job</th>
                        <th>Last Actvity</th>
                        <th>Last Activity Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in job_list | sort(attribute="last_logged_task_time", reverse = True) %}

                    {% if job.date_applied and not job.rejection and not job.interviewing and not job.job_offer and not
                    job.accepted_offer and not job.ghosted %}
                    <tr>
                        {% if job.favorite %}
                        <td><a href="{{ url_for('update_favorite_homepage', job_id = job.id )}}">📈</a></td>
                        {% else %}
                        <td><a href="{{ url_for('update_favorite_homepage', job_id = job.id )}}">📉</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('show_job_detail', job_id = job.id) }}">{{ job.role }}</a></td>
                        <td>{{ job.company.name }}</td>
                        {% if job.salary %}
                        <td id="salary_data">{{ "$ {:,.0f}".format(job.salary) }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        <td><a href="{{ job.link }}" target="_blank">Job Link</a></td>
                        <td>{{ job.last_logged_task }}</td>
                        <td>{{ job.last_logged_task_time.strftime('%b %d @ %H:%M%p') }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    
    <div id="right_block">
        <section id="interviewing_list">
            <table class="table table-sm">

                <h3>Active Interview</h3>
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th>Role Name</th>
                        <th>Company</th>
                        <th>Salary</th>
                        <th>Link to Job</th>
                        <th>Next Steps</th>
                        <th>Next Step Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in job_list %}
                    {% if job.interviewing and not job.job_offer and not job.rejection and not job.ghosted %}
                    <tr>
                        {% if job.favorite %}
                            <td><a href="{{ url_for('update_favorite_homepage', job_id = job.id )}}">📈</a></td>
                        {% else %}
                            <td><a href="{{ url_for('update_favorite_homepage', job_id = job.id )}}">📉</a></td>
                        {% endif %}
                        
                        <td><a href="{{ url_for('show_job_detail', job_id = job.id) }}">{{ job.role }}</a></td>
                        <td>{{ job.company.name }}</td>
                        
                        {% if job.salary %}
                            <td id="salary_data">{{ "$ {:,.0f}".format(job.salary) }}</td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        
                        <td><a href="{{ job.link }}" target="_blank">Job Link</a></td>
                        
                        {% if job.next_step == [] %}
                            <td>None</td>
                            <td>None</td>
                        {% elif job.next_step %}
                            {% set last_step = job.next_step[-1] %}
                                <td>{{ last_step.step_type }}</td>
                                <td>{{ last_step.due_date.strftime('%b %d') }} <br>@ {{ last_step.due_time.strftime('%I:%M %p') }}</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section id="offer_list">
            <h3>Offers Extended</h3>
            <table class="table table-sm">
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th>Role</th>
                        <th>Company</th>
                        <th>Salary</th>
                        <th>Link to Job</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in job_list %}
                    {% if job.job_offer and not job.rejection and not job.ghosted %}
                    <tr>
                        {% if job.favorite %}
                        <td><a href="{{ url_for('update_favorite_homepage', job_id = job.id )}}">📈</a></td>
                        {% else %}
                        <td><a href="{{ url_for('update_favorite_homepage', job_id = job.id )}}">📉</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('show_job_detail', job_id = job.id) }}">{{ job.role }}</a></td>
                        <td>{{ job.company.name }}</td>
                        {% if job.salary %}
                            <td id="salary_data">{{ "$ {:,.0f}".format(job.salary) }}</td>
                        {% else %}
                            <td>No Salary Data</td>
                        {% endif %}
                        <td><a href="{{ job.link }}">Job Link</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section id="task_list">
            <h2>Due Tasks: </h2>
            <table class="table table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Task</th>
                        <th>Job Role</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task_item in task_list | sort(attribute="due_date") %}
                        <tr>
                            <td>
                                {% if task_item.task_type == 'email' %}
                                    {{ task_item.task.description }}
                                {% elif task_item.task_type == 'call' %}
                                    {{ task_item.task.description }}
                                {% elif task_item.task_type == 'general' %}
                                    {{ task_item.task.description }}
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('show_job_detail', job_id = task_item['job'].id) }}">{{ task_item.job.role }}</a></td>
                            <td>{{ task_item.task.due_date.strftime('%b %d') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

</section>









{% endblock %}