{% extends "base.html" %}

{% block title %}
<title>Job Detail Page</title>
{% endblock %}

{% block body %}

<section id="job_card">
    <div id="job_role_div">
        <h1>{{ job.role }}</h1>
        <h3>{{ job.company.name }}</h3>
    </div>
    <div id="delete_job_btn">
        <a href="{{ url_for('delete_job', job_id = job.id) }}"><button>🚨DELETE JOB🚨</button></a>
    </div>
    <div id="job_details_div">
        <div id="job_description">
            Job Description: <br>
            <b>{{ job.description }}</b>
        </div>
        <div id="job_requirements">
            Requirements: <br>
            <b>{{ job.requirements }}</b>
        </div>
        <div id="job_salary">
            <br><br>
            Salary:
            {% if job.salary %}
                <b>{{ "$ {:,.0f} per year".format(job.salary) }}</b>
            {% else %}
                <b>Salary not provided</b>
            {% endif %}
        </div>
        <div id="job_compensation">
            Additional Compensation:
            <b>{{ job.compensation }}</b>
        </div>
        <div id="job_link">
            <b><a href="{{ job.link }}" target="_blank"><button>Link to Job Posting</button></a></b>
        </div>
        <div id="job_data_applied">
            {% if job.date_applied != None %}
                Date Applied:
                <b>{{ job.date_applied.strftime('%b %d @ %H:%M%p') }}</b>
            {% else %}
                <b>Have not applied yet.</b>
                <a href="{{ url_for('update_applied_status', job_id = job.id) }}"><button>APPLY</button></a>
            {% endif %}
        </div>
    </div>
    <div id="bool_div">
        <div id="job_offer_bool">
            Job Offer?
            <a href="{{ url_for('update_offer', job_id = job.id)}}"><button>SELECT</button></a>
            <b>{{ job.job_offer }}</b>
        </div>
        <div id="job_rejection_bool">
            Rejection?
            <a href="{{ url_for('update_rejection', job_id = job.id) }}"><button>SELECT</button></a>
            <b>{{ job.rejection }}</b>
        </div>
        <div id="job_interviewing_bool">
            interviewing?
            <a href="{{ url_for('update_interviewing', job_id = job.id) }}"><button>SELECT</button></a>
            <b>{{ job.interviewing }}</b>
        </div>
        <div id="job_accepted_bool">
            Accepted?
            <a href="{{ url_for('update_accepted', job_id = job.id) }}"><button>SELECT</button></a>
            <b>{{ job.accepted_offer }}</b>
        </div>
        <div id="job_ghosted_bool">
            Ghosted?
            <a href="{{ url_for('update_ghosted', job_id = job.id) }}"><button>SELECT</button></a>
            <b>{{ job.ghosted }}</b>
        </div>
        <div id="job_favorite_bool">
            Favorite?
            <a href="{{ url_for('update_favorite', job_id = job.id) }}"><button>SELECT</button></a>
            <b>{{ job.favorite }}</b>
        </div>
    </div>
    <div id="next_steps_div">
        <div id="next_step_actual">
            Next Steps:
            {% if job.next_step %}
                {% set last_step = job.next_step[-1] %}
                    <b>{{ last_step.step_type }} </b>
                    With: 
                    {% if last_step.task_for_recruiter %}
                        <a href="{{ last_step.recruiter.linkedin }}", target="_blank">{{ last_step.recruiter.first_name }} {{ last_step.recruiter.last_name }} ({{ last_step.recruiter.title }})</a>
                    {% else %}
                    <a href="{{ last_step.employee.linkedin }}", target="_blank">{{ last_step.employee.first_name }} {{ last_step.employee.last_name }} ({{ last_step.employee.title }})</a>
                    {% endif %}
                    Scheduled for: <b>{{ last_step.due_date.strftime('%b %d @ %H:%M%p') }}</b>
            {% else %}
                <b>No next steps scheduled.</b>
            {% endif %}

        </div>
        <div id="recruiter_next_step">
            <a href="{{ url_for('sne_recruiter_form', job_id = job.id) }}"><button>Schedule Call with Recruiter</button></a>
        </div>
        <div id="employee_next_step">
            <a href="{{ url_for('sne_employee_form', job_id = job.id) }}"><button>Schedule Call with Interviewer</button></a>
        </div>
        <div id="job_last_task">
            It's been <b>{{ days_since_task }} days since last activity.</b>
            <div>
                Last Activity:
                <b>{{ job.last_logged_task }}</b>
            </div>
        </div>
        <div id="task_div">
            <div id="job_call_task">
                Next Call Task:
                <a href="{{ url_for('call_form', job_id = job.id) }}"><button>Add Call Task</button></a>
                {% if job.call_task %}
                    <table>
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Due Date</th>
                                <th>Completed?</th>
                            </tr>
                        </thead>
                            <tbody>
                                {% for call in job.call_task %}
                                    {% if not call.completed %}
                                        <tr>
                                            <td>{{ call.description }}</td>
                                            <td>{{ call.due_date.strftime('%b %d @ %H:%M%p') }}</td>
                                            <td><a href="{{ url_for('complete_call_task', job_id = job.id, call_id = call.id) }}"><button>COMPLETE</button></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                    </table>
                {% endif %}
            </div>
            <div id="job_email_task">
                Next Email Task:
                <a href="{{ url_for('email_form', job_id = job.id) }}"><button>Add Email Task</button></a>
                {% if job.email_task %}
                    <table>
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Due Date</th>
                                <th>Completed?</th>
                            </tr>
                        </thead>
                            <tbody>
                                {% for email in job.email_task %}
                                    {% if not email.completed %}
                                        <tr>
                                            <td>{{ email.description }}</td>
                                            <td>{{ email.due_date.strftime('%b %d @ %H:%M%p') }}</td>
                                            <td><a href="{{ url_for('complete_email_task', job_id = job.id, email_id = email.id) }}"><button>COMPLETE</button></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                    </table>
                {% endif %}
            </div>
            <div id="job_general_task">
                Next General Task:
                <a href="{{ url_for('task_form', job_id = job.id) }}"><button>Add General Task</button></a>
                {% if job.general_task %}
                    <table>
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Due Date</th>
                                <th>Completed?</th>
                            </tr>
                        </thead>
                            <tbody>
                                {% for task in job.general_task %}
                                    {% if not task.completed %}
                                        <tr>
                                            <td>{{ task.description }}</td>
                                            <td>{{ task.due_date.strftime('%b %d @ %H:%M%p') }}</td>
                                            <td><a href="{{ url_for('complete_general_task', job_id = job.id, task_id = task.id) }}"><button>COMPLETE</button></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="roster_div">
        <div id="job_recruiter">
            Lead Recruiter:
            {% if job.recruiter == None %}
                <a href="{{ url_for('create_recruiter_form', job_id = job.id) }}"><button>Add Recruiter</button></a>
            {% else %}
                <a href="{{ job.recruiter.linkedin }}" target="_blank">{{ job.recruiter.first_name }} {{ job.recruiter.last_name }}</a> ({{ job.recruiter.title }}) - <a href="mailto:{{ job.recruiter.email }}">{{ job.recruiter.email }}</a>
            {% endif %}
        </div>
        <div id="job_employee_list">
            Stackholders:
            <a href="{{ url_for('create_employee_form', company_id = job.company.id, job_id = job.id) }}"><button>Add Stakeholder</button></a>
            {% for employee in job.company.employee %}
                <ul><a href="{{ employee.linkedin }}" target="_blank">{{ employee.first_name }} {{ employee.last_name }}</a> ({{ employee.title }}) - <a href="mailto:{{ employee.email }}">{{ employee.email }}</a></ul>
            {% endfor %}
        </div>
    </div>

</section>







{% endblock %}