{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/create_job_styling.css">
<style>
    .job.description,
    .job.requirements {
        white-space: pre-wrap;
    }
</style>
{% endblock %}

{% block title %}
<title>Add Job</title>
{% endblock %}

{% block body%}


<section id="create_job_form">
    <form id="job_form" action="{{ url_for('create_job')}}" method="post">
        {{ job_form.csrf_token() }}
        {{ job_form.hidden_tag() }}
        <div id="form_1">
            <h3>Create Job Here:</h3>
            <div>
                {{ job_form.role.label }}
                {{ job_form.role(class="form-control") }}
            </div>
            <div>
                {{ job_form.description.label }}
                {{ job_form.description(class="form-control") }}
            </div>
            <div>
                {{ job_form.requirements.label }}
                {{ job_form.requirements(class="form-control") }}
            </div>
        </div>
        <div id="form_2">
            <div>
                {{ job_form.salary.label }}
                {{ job_form.salary(class="form-control") }}
            </div>
            <div>
                {{ job_form.compensation.label }}
                {{ job_form.compensation(class="form-control") }}
            </div>
            <div>
                {{ job_form.link.label }}
                {{ job_form.link(class="form-control") }}
            </div>
            <div>
                {{ job_form.company.label }}
                {{ job_form.company(class="form-select") }}
            </div>
            <div>
                {{ job_form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
</section>

{% endblock %}