{% extends "base.html" %}

{% block title %}
<title>Schedule Next Steps</title>
{% endblock %}

{% block body %}

<section id="next_step_form">
    <form action="{{ url_for('create_next_step', job_id = job_id) }}", method="post">
        {{ next_step_form.csrf_token() }}
        {{ next_step_form.task_for_recruiter_id.label }}
        {{ next_step_form.task_for_recruiter_id }}
        {{ next_step_form.task_for_employee_id.label }}
        {{ next_step_form.task_for_employee_id }}
        {{ next_step_form.due_date.label }}
        {{ next_step_form.due_date }}
        {{ next_step_form.description.label }}
        {{ next_step_form.description }}
        {{ next_step_form.step_type.label }}
        {{ next_step_form.step_type }}
        {{ next_step_form.submit }}

    </form>
</section>



{% endblock %}